.sect1{
  background-color: #5f849c;
}

.jumbotron {
    background-color: #dae4eb;
    margin-top: 10px;
  }
.images-cart{
  width: 100px;
  height: 100px;
}

.image-empty{

  width: 100px;
  height: 100px;
  opacity: 0.5;
}

ul {
  text-align: center;
}

.btn-alternar{
  margin-right: 50px;
}
  


.btn-circle {
    width: 50px;
    height: 50px;
    padding: 10px 10px;
    border-radius: 25px;
    font-size: 20px;
    line-height: 1.1;
}

.botones{
  margin: 10px
}


.dropdown{
    text-align: right;
}