/* Backgrounds */
.sect1 {
  background-color: #5f849c;
}

.jumbotron {
  background-color: #dae4eb;
  margin-top: 10px;
}

/* Imagenes */
.images-cart {
  height: 100px;
  width: 100px;
}

.image-empty {
  height: 100px;
  opacity: 0.5;
  width: 100px;
}

/* Botones */
.btn-alternar {
  margin-right: 50px;
}

.btn-circle {
  border-radius: 25px;
  font-size: 20px;
  height: 50px;
  line-height: 1.1;
  padding: 10px 10px;
  width: 50px; 
}

.botones {
  margin: 10px;
}

.dropdown {
  text-align: right;
}

/* Texto del formulario */
textarea {
  resize: none;
}

.text-disabled {
  background-color: lightgrey;
}

ul {
  text-align: left;
}

.aclaracion {
  text-align: center;
}